@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font: 112.5%/1.45em Lato, georgia, serif, sans-serif;
    box-sizing: border-box;
    overflow-y: scroll;
}

body {
    position: relative;
    min-height: 100vh;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: black;
    font-family: Lato, serif;
    font-weight: 500;
    word-wrap: break-word;
    font-kerning: normal;
    -moz-font-feature-settings: "kern", "liga", "clig", "calt";
    -ms-font-feature-settings: "kern", "liga", "clig", "calt";
    -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
    font-feature-settings: "kern", "liga", "clig", "calt";
}

main {
    font-family: 'Montserrat', serif;
    min-height: 100vh;
    /*max-width: 1440px;*/
    padding-top: 60px;
    padding-bottom: 16px;
    margin: 0 auto;
}

main a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

main h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

main p {
    margin: 0;
}

.fullWidth {
    margin: 0 auto;
    max-width: 1440px;
}